# Dependencies
node_modules/

# Build output
dist/

# Vite cache
.vite/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# public
public/ac.min.js
public/ac_conf.js
